## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [3]:
import random
def random_list(start,stop,length):
    if length>=0:
        length=int(length)
        start, stop = (int(start), int(stop)) if start <= stop else (int(stop), int(start))
    random_list = []
    for i in range(length):
        random_list.append(random.randint(start, stop))
    return random_list

In [4]:
 random_list(100,10000,10)

[3328, 4967, 884, 3053, 9020, 4486, 6433, 1706, 7106, 3517]

In [5]:
country = ['USA', 'China', 'Taiwan', 'Jpan', 'USA', 'China', 'Taiwan', 'Jpan', 'USA', 'China']
popu = random_list(100,10000,10)

list_labels = ['country', 'popu']
list_cols = [country, popu]

zipped2 = list(zip(list_labels, list_cols))

# 解答
# data = {'國家': ['Taiwan', 'United States', 'Thailand'],
#         '人口': np.random.randint(low=10000, high=1000000, size=3)}
# data = pd.DataFrame(data)

In [6]:
country_popu_3 = pd.DataFrame(dict(zipped2))
print(country_popu_3)

  country  popu
0     USA  4642
1   China  5257
2  Taiwan  2416
3    Jpan  7660
4     USA  3504
5   China  7500
6  Taiwan  8612
7    Jpan  7392
8     USA  7403
9   China  5029

In [21]:
data = {'country':  ['USA', 'China', 'Taiwan', 'Jpan', 'USA', 'China', 'Taiwan', 'Jpan', 'USA', 'China'],
        'popu': random_list(100,10000,10)}
data = pd.DataFrame(data)
data

  country  popu
0     USA  9158
1   China  4132
2  Taiwan  2131
3    Jpan  8788
4     USA  7782
5   China   513
6  Taiwan  9660
7    Jpan  9317
8     USA   844
9   China  6938

In [22]:
data.groupby(by="country")['popu'].max()

country
China     6938
Jpan      9317
Taiwan    9660
USA       9158
Name: popu, dtype: int64

In [24]:
# 解答
data.loc[data['popu']==data['popu'].max()]['country']

6    Taiwan
Name: country, dtype: object

In [25]:
# 解答
data.iloc[data['popu'].idxmax()]['country']

'Taiwan'