## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
import random
def random_list(start,stop,length):
    if length>=0:
        length=int(length)
        start, stop = (int(start), int(stop)) if start <= stop else (int(stop), int(start))
    random_list = []
    for i in range(length):
        random_list.append(random.randint(start, stop))
    return random_list

In [15]:
 random_list(100,10000,10)

[609, 4131, 9778, 5669, 1590, 6390, 8552, 1392, 6374, 3420]

In [5]:
country = ['USA', 'China', 'Taiwan', 'Jpan', 'USA', 'China', 'Taiwan', 'Jpan', 'USA', 'China']
popu = random_list(100,10000,10)

list_labels = ['country', 'popu']
list_cols = [country, popu]

zipped2 = list(zip(list_labels, list_cols))

In [6]:
country_popu_3 = pd.DataFrame(dict(zipped2))
print(country_popu_3)

  country  popu
0     USA  7766
1   China  6382
2  Taiwan  2365
3    Jpan  9342
4     USA  8792
5   China   805
6  Taiwan  4989
7    Jpan  7413
8     USA  1622
9   China  9034

In [16]:
data = {'國家':  ['USA', 'China', 'Taiwan', 'Jpan', 'USA', 'China', 'Taiwan', 'Jpan', 'USA', 'China'],
        '人口': random_list(100,10000,10)}
data = pd.DataFrame(data)
data

     人口      國家
0  2428     USA
1  8832   China
2   388  Taiwan
3  2749    Jpan
4  8011     USA
5   170   China
6  1122  Taiwan
7  3215    Jpan
8  8061     USA
9  8732   China

In [53]:
country_popu_3.groupby(by="country")['popu'].max()

country
China     9034
Jpan      9342
Taiwan    4989
USA       8792
Name: popu, dtype: int64